@-webkit-keyframes outline-pulse {
  0% { background-color: rgba(200, 30, 30, 0.45); }
  50% { background-color: rgba(200, 30, 30, 0.65); }
  100% { background-color: rgba(200, 30, 30, 0.45); }
}

@-moz-keyframes outline-pulse {
  0% { background-color: rgba(200, 30, 30, 0.45); }
  50% { background-color: rgba(200, 30, 30, 0.65); }
  100% { background-color: rgba(200, 30, 30, 0.45); }
}

@keyframes outline-pulse {
  0% { background-color: rgba(200, 30, 30, 0.45); }
  50% { background-color: rgba(200, 30, 30, 0.65); }
  100% { background-color: rgba(200, 30, 30, 0.45); }
}

body {
  margin: 0 auto;
  position: inherit;
  padding-top: 60px;
  padding-bottom: 560px;
  background-size: cover;
  background-attachment: scroll;  
  background-repeat: no-repeat;
  background-color: #778899;
}

.container {
  margin: 0 1em;
}

.muted {
  font-style: oblique;
  font-family: 'Crushed', cursive; 
  color: #A52A2A;
  text-shadow: 2px 2px black;  
}

.masthead {
  border: 5px hidden;
  border-radius: 12px;
}

.buttons-container {
  padding: 3px;
}

.graph-container {
  width: 620px;
  height: 500px;
  border: 5px dashed white;
  border-radius: 12.5px;
  position: relative;
}

.graph-container svg {
  border-radius: 12.5px;
  position: relative;
  z-index: 2;
}

.json-view {
  width: 500px;
  height: 415px;
  position: absolute;
  top: 40px;
  right: 0px;
  z-index: 1;
  padding-left: 80px;
  transition: right .2s ease-out;
  -moz-transition: right .2s ease-out;
  -webkit-transition: right .2s ease-out;
  -o-transition: right .2s ease-out;
  resize: none;
}

.json-view.open {
  right: -520px;
}

.path-container {
  margin: 10px 0;
}

.path {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.path li {
  display: inline;
  cursor: pointer;
}

.path .entry:hover {
  background: rgba(0, 0, 0, 0.3);
}

.butter-tray {
}

.outline-pulse {
  -webkit-animation: outline-pulse .3s infinite;
  -moz-animation: outline-pulse .3s infinite;
  animation: outline-pulse .3s infinite;
}