
#chart {
  width: 620px;
  height: 500px;
  background: #bbb;

}

text {
  pointer-events: none;
}

.grandparent text { /* header text */
  font-weight: bold;
  font-size: medium;
  font-family: "Open Sans", Helvetica, Arial, sans-serif; 

}

rect {
  fill: #fff;
  stroke: #fff;
  rx:105px;
  ry:105px;
 
}



rect.parent,
.grandparent rect {
  stroke-width: 2px;
  
 
}

.grandparent rect {
  fill: #fff;
  
}

.children rect.parent,
 {
  cursor: pointer;
   opacity: 0.4;
   background-image:url(http://cdn-static.zdnet.com/i/story/60/80/010270/firefox_.jpg) repeat;
   background:url(http://cdn-static.zdnet.com/i/story/60/80/010270/firefox_.jpg) repeat;
   
   background-image:url(http://external.ak.fbcdn.net/safe_image.php?d=AQA1lQWeHuV1vY6i&w=155&h=114&url=http%3A%2F%2Febmedia.eventbrite.com%2Fs3-build%2Fimages%2F1116690%2F47527778779%2F1%2Flogo.png) repeat;
   
   border-radius:25px;
   
   border:1px solid #ddd;
        background:#E4F2FD;
        border-radius:2em;
        -moz-border-radius:2em;
        -webkit-border-radius:2em
		

}

.grandparent rect{
	 cursor: text;
	}

rect.parent {
  pointer-events: all; 
}

.children:hover rect.child,
.grandparent:hover rect {
  fill: #aaa;
  
  
}

.textdiv { /* text in the boxes */
    font-size: medium;
    padding-left: 15%;
	padding-top: 10%;
	font-size: 1.8em;
	line-height:120%;
    font-family: 'Crushed', cursive; 
}

html{
   
 overflow:scroll;
  
}
body{
 margin:0 auto;
 position:inherit;
 padding-top: 60px;
 padding-bottom: 60px;
 background-size:cover;
 background-attachment:scroll;  
 background-repeat:no-repeat;
 background-color:#778899;

 
}


.muted{
  font-style:oblique;
  font-family: 'Crushed', cursive; 
  color:#A52A2A;
  text-shadow:2px 2px black;
  
}

.masthead{
  width:720px;
  margin:0 auto;
  border:5px hidden;
  border-radius:12px;

  
}
.navbar{
 width:inherit;
 
 margin:0 auto;
 position:relative;
 padding-bottom:10px;
  
}

.LynxContain{
  border:5px dashed white;
  border-radius:12.5px;

}

.LynxContain, .LynxContain iframe{
  height:600px;
  width:720px;
  margin:0 auto;
  
  
}




.lead{
  
    font-weight:800;

  
}

h1{
  font-family: 'Crushed', cursive; 
  color:#A52A2A;
  text-shadow:3px 2px black;
}


h2{
  
  font-family: 'Crushed', cursive; 
  color:#A52A2A;
  text-shadow:3px 2px black;
  
}

hr{
  height : 15px;
  border:3px dashed white;
  margin : 1em 0;
}
p{
  color:black;
  font-size:16px;
  font-family: 'Crushed', cursive; 
  font-weight:800;


  
}




